/*If you want to experiment with styles, please create a copy of this sheet! Thank you!*/
/*Paragraph Styles*/
.RH-LAYOUT-CENTERPANEL-topic-box p.Normal, .RH-LAYOUT-FOOTER-container p.Normal {
  font-family: Open Sans;
  font-size: 11pt;
  text-align: left;
  margin-top: 5pt;
  margin-bottom: 14pt;
  color: #000000;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.ClientAcronym, .RH-LAYOUT-FOOTER-container p.ClientAcronym {
  font-family: Open Sans;
  font-size: 11pt;
  text-align: left;
  margin-top: 5.4pt;
  margin-bottom: 2pt;
  color: #000000;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.ClientName, .RH-LAYOUT-FOOTER-container p.ClientName {
  font-family: Open Sans;
  font-size: 9pt;
  text-align: left;
  margin-top: 0pt;
  margin-bottom: 5.4pt;
  color: #000000;
  font-style: italic;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.TableText, .RH-LAYOUT-FOOTER-container p.TableText {
  font-family: Open Sans;
  font-size: 10pt;
  text-align: top left;
  margin-top: 5.4pt;
  margin-bottom: 2pt;
  color: #000000;
  word-wrap: break-word;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.TableTextIndent1, .RH-LAYOUT-FOOTER-container p.TableTextIndent1 {
  font-family: Open Sans;
  font-size: 11pt;
  text-align: left;
  margin-bottom: 5pt;
  color: #000000;
  margin-left: 16pt;
  margin-top: 3pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box h1.Heading1, .RH-LAYOUT-FOOTER-container h1.Heading1 {
  font-family: Playfair Display;
  font-size: 30pt;
  font-weight: bold;
  text-align: left;
  margin-top: 10pt;
  margin-bottom: 25pt;
  color: #007FA3;
  margin-left: 0pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box h2.Heading2, .RH-LAYOUT-FOOTER-container h2.Heading2 {
  font-family: Open Sans;
  font-size: 20pt;
  font-weight: bold;
  text-align: left;
  margin-top: 10pt;
  margin-bottom: 20pt;
  color: #007FA3;
  margin-left: 0pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box h3.Heading3, .RH-LAYOUT-FOOTER-container h3.Heading3 {
  font-family: Open Sans;
  font-size: 14pt;
  font-weight: bold;
  text-align: left;
  color: #007FA3;
  margin-bottom: 15pt;
  margin-top: 10pt;
  margin-left: 0pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box h4.Heading4, .RH-LAYOUT-FOOTER-container h4.Heading4 {
  font-family: Open Sans;
  font-size: 12pt;
  text-align: left;
  margin-top: 15pt;
  margin-bottom: 5pt;
  color: #007FA3;
  font-weight: bold;
  margin-left: 0pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.TableHeading, .RH-LAYOUT-FOOTER-container p.TableHeading {
  font-family: Open Sans;
  color: #ffffff;
  font-size: 11pt;
  font-weight: bold;
  text-align: left;
  margin-top: 2pt;
  margin-bottom: 2pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Indent1, .RH-LAYOUT-FOOTER-container p.Indent1 {
  font-family: Open Sans;
  font-size: 11pt;
  margin-left: 15pt;
  margin-top: 5pt;
  margin-bottom: 14pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Indent2, .RH-LAYOUT-FOOTER-container p.Indent2 {
  font-family: Open Sans;
  font-size: 11pt;
  margin-top: 5pt;
  margin-left: 30pt;
  margin-bottom: 14pt;
}
/*Character Styles*/
.RH-LAYOUT-CENTERPANEL-topic-box span.Emphasis, .RH-LAYOUT-FOOTER-container span.Emphasis {
  font-style: italic;
}
.RH-LAYOUT-CENTERPANEL-topic-box span.Strong, .RH-LAYOUT-FOOTER-container span.Strong {
  font-weight: bold;
}
.RH-LAYOUT-CENTERPANEL-topic-box span.UILabel, .RH-LAYOUT-FOOTER-container span.UILabel {
  font-weight: bold;
  color: #003057;
}
.RH-LAYOUT-CENTERPANEL-topic-box span.Strikethrough, .RH-LAYOUT-FOOTER-container span.Strikethrough {
  text-decoration: line-through;
}
.RH-LAYOUT-CENTERPANEL-topic-box span.Red, .RH-LAYOUT-FOOTER-container span.Red {
  color: #DC0000;
}
/*Hyperlink Styles*/
.RH-LAYOUT-CENTERPANEL-topic-box a.Hyperlink, .RH-LAYOUT-FOOTER-container a.Hyperlink {
  font-family: Open Sans;
  text-decoration: underline;
  font-size: 11pt;
  color: #007FA3;
  display: inline;
}
/*Table Styles*/
.RH-LAYOUT-CENTERPANEL-topic-box table.IconTable, .RH-LAYOUT-FOOTER-container table.IconTable {
  background-color: #D3E8E2;
  border-style: none;
  border-color: #D3E8E2;
  width: 100%;
  vertical-align: top;
  padding-top: 0pt;
  padding-right: 5.4pt;
  padding-bottom: 0pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.Table1, .RH-LAYOUT-FOOTER-container table.Table1 {
  border-width: 1px;
  border-style: solid;
  border-color: #C0C0C0;
  border-collapse: collapse;
  width: 100%;
  vertical-align: top;
  padding-top: 5.4pt;
  padding-right: 5.4pt;
  padding-bottom: 5.4pt;
  padding-left: 5.4pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.Table1 td, .RH-LAYOUT-FOOTER-container table.Table1 td {
  border-width: 1px;
  border-style: solid;
  border-color: #C0C0C0;
  border-collapse: collapse;
  width: 100%;
  vertical-align: top;
  padding-top: 0pt;
  padding-right: 5.4pt;
  padding-bottom: 0pt;
  padding-left: 5.4pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.ListTable, .RH-LAYOUT-FOOTER-container table.ListTable {
  border-width: 1px;
  border-style: none;
  border-color: transparent;
  width: 600 px;
  margin-top: -15px;
  margin-bottom: -15px;
  vertical-align: top;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.NormalTable, .RH-LAYOUT-FOOTER-container table.NormalTable {
  width: 100%;
  border-collapse: collapse;
  border-width: 0.5px;
  border-style: solid;
  border-color: #000000;
  vertical-align: top;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.Table1 tr:nth-child(even) td, .RH-LAYOUT-FOOTER-container table.Table1 tr:nth-child(even) td {
  border-width: 1px;
  border-style: solid;
  border-color: #C0C0C0;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.Table1 tr:nth-child(odd) td, .RH-LAYOUT-FOOTER-container table.Table1 tr:nth-child(odd) td {
  border-width: 1px;
  border-style: solid;
  border-color: #C0C0C0;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.Table1 td:nth-child(even), .RH-LAYOUT-FOOTER-container table.Table1 td:nth-child(even) {
  border-width: 1px;
  border-style: solid;
  border-color: #C0C0C0;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.Table1 td:nth-child(odd), .RH-LAYOUT-FOOTER-container table.Table1 td:nth-child(odd) {
  border-width: 1px;
  border-style: solid;
  border-color: #C0C0C0;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.ContactsTable, .RH-LAYOUT-FOOTER-container table.ContactsTable {
  border-width: 1px;
  border-style: solid;
  border-color: #DFE1E1;
  border-collapse: collapse;
  vertical-align: top;
  width: 100%;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.ContactsTable tr:nth-child(even) td, .RH-LAYOUT-FOOTER-container table.ContactsTable tr:nth-child(even) td {
  border-width: 1px;
  border-style: solid;
  border-color: #DFE1E1;
  vertical-align: top;
  width: 100%;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.ContactsTable td:nth-child(odd), .RH-LAYOUT-FOOTER-container table.ContactsTable td:nth-child(odd) {
  border-width: 1px;
  border-style: solid;
  border-color: #DFE1E1;
  vertical-align: top;
  width: 100%;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.ContactsTable tr:nth-child(odd) td, .RH-LAYOUT-FOOTER-container table.ContactsTable tr:nth-child(odd) td {
  vertical-align: top;
  width: 100%;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.ContactsTable td:nth-child(even), .RH-LAYOUT-FOOTER-container table.ContactsTable td:nth-child(even) {
  vertical-align: top;
  width: 100%;
}
/*List Bullet*/
.RH-LAYOUT-CENTERPANEL-topic-box ol.RoundSquare, .RH-LAYOUT-FOOTER-container ol.RoundSquare {
  list-style: disc;
  font-family: Open Sans;
  font-size: 11pt;
  margin-left: -20px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.CircleRoundSquare, .RH-LAYOUT-FOOTER-container ol.CircleRoundSquare {
  list-style: circle;
  font-family: Open Sans;
  font-size: 11pt;
  margin-left: -20px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.RoundSquare>li>ol, .RH-LAYOUT-FOOTER-container ol.RoundSquare>li>ol {
  list-style: circle;
  margin-left: -15pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.CircleRoundSquare>li>ol, .RH-LAYOUT-FOOTER-container ol.CircleRoundSquare>li>ol {
  list-style: square;
  margin-left: -15pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.RoundSquare>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.RoundSquare>li>ol>li>ol {
  list-style: square;
  margin-left: -15pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.CircleRoundSquare>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.CircleRoundSquare>li>ol>li>ol {
  list-style: square;
  margin-left: -15pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.RoundSquare>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.RoundSquare>li>ol>li>ol>li>ol {
  list-style: disc;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.CircleRoundSquare>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.CircleRoundSquare>li>ol>li>ol>li>ol {
  list-style: disc;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.RoundSquare>li>ol>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.RoundSquare>li>ol>li>ol>li>ol>li>ol {
  list-style: square;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.CircleRoundSquare>li>ol>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.CircleRoundSquare>li>ol>li>ol>li>ol>li>ol {
  list-style: square;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: circle;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.CircleRoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.CircleRoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: circle;
}
/*List Number*/
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  counter-reset: item1;
  padding-left: var(--prefix-size);
  margin-left: -20px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  counter-reset: item1;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
  --list-indent: 40px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item2;
  padding-left: var(--prefix-size);
  margin-left: -20px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric>li>ol, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric>li>ol {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item2;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol {
  list-style: none;
  --prefix-size: 0px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 0px;
  counter-reset: item3;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric>li>ol>li>ol {
  list-style: none;
  --prefix-size: 0px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 0px;
  counter-reset: item3;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item4;
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric>li>ol>li>ol>li>ol {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item4;
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric>li>ol>li>ol>li>ol>li, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric>li>ol>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4;
  content: "(" counter(item4, decimal)")";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric>li>ol>li>ol>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4;
  content: "(" counter(item4, decimal)")";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item5;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric>li>ol>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item5;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item5;
  content: "(" counter(item5, lower-alpha)")";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric>li>ol>li>ol>li>ol>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item5;
  content: "(" counter(item5, lower-alpha)")";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric>li>ol>li>ol>li>ol>li>ol>li, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric>li>ol>li>ol>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item6;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item6;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item6;
  content: "(" counter(item6, lower-roman)")";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item6;
  content: "(" counter(item6, lower-roman)")";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric>li, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li:before, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li:before {
  counter-increment: item1;
  content: counter(item1, decimal)".";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
  font-family: 'Open Sans';
  font-size: 11pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric>li:before, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric>li:before {
  counter-increment: item1;
  content: counter(item1, lower-alpha)".";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
  font-family: 'Open Sans';
  font-size: 11pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric>li>ol>li, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li:before {
  counter-increment: item2;
  content: counter(item2, lower-alpha)".";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
  font-family: 'Open Sans';
  font-size: 11pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric>li>ol>li:before {
  counter-increment: item2;
  content: counter(item2, lower-alpha)".";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
  font-family: 'Open Sans';
  font-size: 11pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric>li>ol>li>ol>li, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li:before {
  counter-increment: item3;
  content: counter(item3, lower-roman)".";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
  font-family: 'Open Sans';
  font-size: 11pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlphaNumeric>li>ol>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.LowerAlphaNumeric>li>ol>li>ol>li:before {
  counter-increment: item3;
  content: counter(item3, lower-roman)".";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
  font-family: 'Open Sans';
  font-size: 11pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.IconTable tr:first-child td, .RH-LAYOUT-FOOTER-container table.IconTable tr:first-child td {}
.RH-LAYOUT-CENTERPANEL-topic-box table.IconTable tr:last-child td, .RH-LAYOUT-FOOTER-container table.IconTable tr:last-child td {}
.RH-LAYOUT-CENTERPANEL-topic-box table.IconTable td:first-child, .RH-LAYOUT-FOOTER-container table.IconTable td:first-child {
  width: 10%;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.IconTable td:last-child, .RH-LAYOUT-FOOTER-container table.IconTable td:last-child {
  width: 90%;
}